* {
  font-family: "Josefin Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #fff;
  width: 100%;
  padding: 30px;
}

header img {
  height: 24px;
}

main {
  position: relative;
  width: 100%;
}

main #image {
  position: relative;
}

#image img {
  width: 100%;
  max-height: 700px;
}

main #texts {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  padding: 20px;
}

#texts h1 {
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 600;
}

#texts h1 span {
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}

#texts p {
  font-size: 14px;
  color: hsl(0, 36%, 70%);
  letter-spacing: 1px;
  line-height: 24px;
}
